openapi: 3.0.1
info:
  title: Plan Pen
  description: A plugin that allows users to create calendar events right from ChatGPT.
  version: 'v1'
servers:
  - url: http://localhost:5003
paths:
   /create-calendar-event:
    post:
      operationId: createCalendarEvent
      summary: Create a calendar event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createCalendarEventRequest'
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema:
                type: string
components:
  schemas:
    createCalendarEventRequest:
      type: object
      required:
      - event_details
      properties:
        title:
          title: string
          description: The title of the event
          required: true  
        date:
          date: string
          description: The date of the event
          required: true
        time:
          time: string
          description: The time of the event
          required: true
        duration:
          duration: string
          description: The duration of the event
          required: true
        location:
           location: string
           description: The location of the event
           required: true
           